<div class="container">
  <h2>Edit project</h2>

  <form id="edit-project-form"
        data-http-verb="PUT"
        ng-submit="appView.submitJSON($event)"
        action="{{ projectsView.targets.projectPut }}">
    <input value="{{ projectsView.currentProject.name }}" name="name" type="text" placeholder="name"></input><br>
    <input value="{{ projectsView.currentProject.url }}" name="url" type="text" placeholder="url"></input><br>
    <textarea rows="5" cols="50" name="description">{{ projectsView.currentProject.description }}</textarea><br>
    <textarea rows="15" cols="100" name="description_long">{{ projectsView.currentProject.description_long }}</textarea><br>
    <button type="submit">Submit</button>
  </form>

  <h2>Upload new image</h2>
  <form id="image-upload-form"
        data-http-verb="POST"
        enctype="multipart/form-data"
        name="image-upload-form"
        ng-submit="appView.submitMultipart($event)"
        action="{{ projectsView.targets.imagePost }}">
    Please select a file to upload : <input type="file" name="image" />
    <button type="submit">Submit</button>
  </form>

  <h2 ng-init="projectsView.grabImages()">Choose new hero image</h2>
  <div ng-repeat="i in projectsView.images">
    <img class='small-image'
      src="{{ i.url }}">
    <button ng-click="projectsView.chooseImage(i)">Select</button>
    <button ng-click="projectsView.deleteImage(i)">Delete</button>
  </div>
</div>
