<div class="container">
  <h1>Projects</h1>

  <div class="project-wrapper" ng-repeat="p in projectsView.projects">
    <div class="project-item left">
      <h3><strong>{{ p.name }}</strong></h3>
      <p>{{ p.description }}</p>
      <a href="{{ p.url }}">{{ p.url }}</a><br><br>
      <a href='/projects/{{ p.id }}'>View</a>
      <span ng-if="appView.isAuthenticated"> |
        <a href="/projects/{{ p.id }}/edit">Edit</a> |
        <a href="#" ng-click="projectsView.deleteProject(p)">Delete</a>
      </span>
    </div>
    <a href='/projects/{{ p.id }}'><img class="hero-image left" src="{{ p.image_url }}"></img></a>
    <br>
  </div>

  <div ng-if="appView.isAuthenticated">
    <br><br><br>
    <a href='/projects/new'>New</a>
  </div>
</div>
