<div class="container">
  <h2>Projects</h2>

  <div ng-repeat="p in projectsView.projects">
    <p><strong>{{ p.name }}</strong></p>
    <p>{{ p.description }}</p>
    <p>{{ p.description_long }}</p>
    <p>{{ p.url }}</p>
    <img src="{{ p.image_url }}"></img>
    <br>
    <div ng-if="appView.isAuthenticated">
      <a href="/projects/{{ p.id }}/edit">Edit</a>
      <a href="#" ng-click="projectsView.deleteProject(p)">Delete</a>
    </div>
  </div>

  <div ng-if="appView.isAuthenticated">
    <br><br><br>
    <a href='/projects/new'>New</a>
  </div>
</div>
